@import '../../sass/mixins/index';

.input {
  background: transparent;
  border: unset;
  padding: 1rem 1.5rem 1.1rem;
  width: 100%;

  @include body-styles('large');

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #d7d6d6;
  }

  @include media-query('md') {
    padding: 1.7rem 1.5rem 1.8rem;
  }
}
