@import '../mixins/index.scss';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: var(--color-base);
  background: var(--color-purple-to-blue);
  font-family: var(--font-family-primary), sans-serif;
  line-height: var(--line-height-base);
  min-height: 100vh;
  padding: 0;
  position: relative;
  @include flex-center;
}

img {
  display: block;
  max-width: 100%;
}
