@import './sass/mixins/index';

.main {
  padding: 5rem 10% 0;

  @include media-query('md') {
    @include flex-center;

    flex-direction: column;
    height: 100vh;
    margin: auto;
    max-width: 64.7rem;
    padding: unset;
  }
}

.search-bar {
  align-items: center;
  background: var(--color-white-300);
  border: 1px solid var(--color-white-250);
  border-radius: 11px;
  display: flex;
  margin: 0 auto;
  max-width: 40rem;
  min-width: 26.6rem;

  @include media-query('md') {
    max-width: 51.2rem;
    padding-right: 1rem;
  }
}

.weekly-cards {
  display: grid;
  flex-direction: column;
  gap: 2rem;
  padding: 3.6rem 0;

  @include media-query('sm') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-query('md') {
    gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
  }
}
