@import './sass/mixins/index';

.main {
  padding: 5rem 10% 0;

  @include media-query('md') {
    @include flex-center;

    flex-direction: column;
    height: 100vh;
    margin: auto;
    max-width: 75rem;
    padding: unset;
  }
}

.error__text {
  margin-top: 1.5rem;
  text-align: center;
  @include body-styles('medium');
}
